/*清零代码*/
html, body, div, span,h1, h2, h3, h4, h5, h6, p,
a,dl, dt, dd, ol, ul, li, form,img
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
a {
	text-decoration: none;
}
body {
	background-color: #000;
	margin: 0 auto;
	padding: 0;
	width: 100%;
}
/*页眉*/
.header {
	text-align: center;
	margin-bottom: -4px;
}
.header img {
	height: 159px;
	border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0; /* Old Firefox */
}
/*导航栏*/
nav {
	background-image: url(../img/beijing.png);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center;
	height: 50px;
}
/*导航栏链接*/
nav a:first-child {
	font-size: 25px; font-family: 华文行楷;
	color: black;
	line-height: 50px;
	margin: 0px 50px 0px 250px;
	text-decoration: none;	
}
nav a:nth-of-type(n+2){
	font-size: 25px; font-family: 华文行楷;
	color: #000;
	line-height: 50px;
	margin: 0px 50px 0px 0px;
	text-decoration: none;
}
/*section*/
.fath {
	text-align: left;
	font-family:华文行楷;
	font-size: 24px;
	padding: 0 0 20px 0;
	margin: 0 auto;
	width: 860px;
	height: auto;	
	background-color: goldenrod;
	border-left: 115px solid khaki;
	border-right: 115px solid khaki;
}
.fath div:nth-child(1) {
	font-family: arial;
	color: #FF0;
	font-size: 100px;
	text-align: center;
	padding-bottom: 20px;
	text-shadow:1px 1px rgba(197, 223, 248,0.8),
				2px 2px rgba(197, 223, 248,0.8),
				3px 3px rgba(197, 223, 248,0.8),
				4px 4px rgba(197, 223, 248,0.8),
				5px 5px rgba(197, 223, 248,0.8),
				6px 6px rgba(197, 223, 248,0.8),
				7px 7px rgba(197, 223, 248,0.8),
				8px 8px rgba(197, 223, 248,0.8);
 }/*photo*/
.fath div:nth-of-type(2),
.fath div:nth-of-type(3) {
	width: 700px;
	height: auto;
	margin: 10px auto;
	padding: 50px 0 40px 40px;
	border-radius: 18px;
	box-shadow: 0 0 5px #ff0,
				0 0 14px #ff0,
				0 0 20px #ff0,
				0 0 27px #ff0,
				0 0 34px #ff0,
				0 0 44px #ff0;
	margin-bottom: 50px;
}/*小侄女*/
.fath div:nth-of-type(2) img {
	border-radius: 14px;
	border: 3px solid #ff0;
	margin-right: 21px;
}
/*我的大学*/
.fath div:nth-child(3) p {
	font-family: 华文行楷;
	color: #FF0;
	font-size: 80px;
	text-align: center;
	padding-bottom: 10px;
	text-shadow:-1px -1px rgba(197, 223, 248,0.8),
				-2px -2px rgba(197, 223, 248,0.8),
				-3px -3px rgba(197, 223, 248,0.8),
				-4px -4px rgba(197, 223, 248,0.8),
				-5px -5px rgba(197, 223, 248,0.8),
				-6px -6px rgba(197, 223, 248,0.8),
				-7px -7px rgba(197, 223, 248,0.8),
				-8px -8px rgba(197, 223, 248,0.8);
 }/*photo*/
 #marq{
 	padding-top:20px;
 	height: 320px;
 	overflow: hidden;
 }/*图片移动*/
 #marq img{
 	height: 300px;
 	border-radius: 10px;
 }
/*页脚*/
footer {
	background-image: url(../img/beijing.png);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center;
	margin-top: -5px;
	height: 50px;
	text-align: center;
	font-family: 华文行楷;
	font-size: 25px;
	line-height: 50px;
}

